<h3>Contact</h3>

<div id="body">
    <ul id="contacts"></ul>
</div>


@section scripts{
        <script type="text/javascript">
            $(function () {
                $.getJSON('/api/contact', function (contactsJsonPayload) {
                    $(contactsJsonPayload).each(function (i, item) {
                        $('#contacts').append('<li>' + item.FirstName + '  ' + item.LastName + '  ' + item.Email + '  ' + '  ' + item.PhoneNumber + '</li>');
                    });
                });
            });

    </script>
        }

